.footer {
    border-top: 1px solid white !important;
}

.Logo-alignment {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.footerRemarks {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

ul {
    list-style: none;
}

.footerLinksParent {
    font-size: normal;
    text-decoration: none;
 
    border: none;
}

.footerLinksParent:hover {
    color: #73CCD8;
    text-decoration: underline;
}

.footerLinksParent {
    color: white;
    transition: all 0.3s;
    margin-top: 2px;
    /* margin-bottom: 2px; */
}

.container {
    position: relative;
    z-index: 1;
}

img {
    vertical-align: middle;
}



.app {
    font-size: 40px;
}